In [1]:
1+2

3

In [2]:
x, y = 2, 3

In [3]:
x

2

In [4]:
y

3

In [5]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
tu[1]

'abc'

In [7]:
li = ["abc", 34, 4.34, 23]

In [8]:
li[1]

34

In [9]:
st = "Hello world"

In [10]:
st[1]

'e'

In [12]:
for i in [x**2 for x in range(5)]:
    print(i)

0
1
4
9
16

In [13]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [14]:
li = ["abc", 34, 4.34, 23]

In [15]:
li[0]

'abc'

In [16]:
li[1]

34

In [17]:
li[2]

4.34

In [18]:
li[3]

23

In [19]:
st = """This is a multi-line
string that uses triple quotes."""

In [20]:
st

'This is a multi-line\nstring that uses triple quotes.'

In [21]:
li[-1]

23

In [22]:
li[-2]

4.34

In [23]:
tu[1:4]

('abc', 4.56, (2, 3))

In [24]:
tu[1:-1]

('abc', 4.56, (2, 3))

In [25]:
tu[1:4:2]

('abc', (2, 3))

In [26]:
tu[2:]

(4.56, (2, 3), 'def')

In [27]:
tu[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [28]:
tu1 = tu

In [29]:
print(tu1)

(23, 'abc', 4.56, (2, 3), 'def')